<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="100%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>Atualizar registros - {{ ponto.dia }}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-20">
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
          <div fxLayout="column" fxFlex="100%">
            <table class="mat-elevation-z1">
              <thead>
              <tr>
                <th>Sentido</th>
                <th>Hora</th>
                <th>Ativo</th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody>
              <ng-container *ngFor="let reg of registros; index as i">
                @if (shouldDisplay(reg)) {
                  <tr>
                    <td>
                      <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="reg.sentido" [disabled]="reg.codigo_acesso !== 0">
                          <mat-option value="Entrada">Entrada</mat-option>
                          <mat-option value="Saída">Saída</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="fill">
                        <input type="time" step="1" matInput [(ngModel)]="reg.hora" placeholder="HH:mm:ss"
                               pattern="([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9])"
                               [disabled]="reg.codigo_acesso !== 0">
                      </mat-form-field>
                    </td>

                    <td>
                      <app-check-box [(value)]="reg.ativo"/>
                    </td>
                    <td>

                      <button mat-icon-button color="primary" (click)="moveUp(i)" [disabled]="i === 0">
                        <mat-icon>arrow_upward</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" (click)="moveDown(i)"
                              [disabled]="i === registros.length - 1">
                        <mat-icon>arrow_downward</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="remove(i)"
                              [disabled]="reg.codigo_acesso !== 0">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                }
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mt-20">
          <mat-divider></mat-divider>
        </div>

        <div  class="mat-20">
          <mat-form-field class="text-full-width">
            <mat-label>Justificativa</mat-label>
            <textarea  required="true" matInput placeholder="Ex. Erro na coleta do registro de acesso..."></textarea>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px" class="mt-20">
          <div fxLayout="column" fxFlexAlign="center">
            <button matButton="tonal" (click)="cancel()">Cancelar</button>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <button matButton="filled" (click)="save()">Salvar</button>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <button matButton="outlined" (click)="add()">Adicionar</button>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <button mat-stroked-button color="accent" (click)="reset()">reset</button>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div style="display: flex; flex-direction: column; text-align: center;">
              <span>Ativos</span>
              <app-check-box [(value)]="showActive"></app-check-box>
            </div>
          </div>
          <div fxLayout="column" fxFlexAlign="center">
            <div style="display: flex; flex-direction: column; text-align: center;">
              <span>Inativos</span>
              <app-check-box [(value)]="showInactive"></app-check-box>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
