<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="80%">
    @if(hasAnyRole(['GRP_SIPE_ADMIN','GRP_SIPE_RH']) && false){
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Busca Setorial</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mt-20">
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="100%">
            <mat-form-field class="full-width">
              <mat-label>Setor</mat-label>
              <input matInput
                     aria-label="Lotação"
                     [matAutocomplete]="auto"
                     [formControl]="lotacaoCtrl">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect()">
                @for (lotacao of lotacoesFiltradas | async; track lotacao) {
                  <mat-option [value]="lotacao.sigla">
                    <span>{{ lotacao.sigla }}</span> |
                    <small>{{ lotacao.descricao }}</small>
                  </mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="100%">
            <button matButton="filled"
                    (click)="baixarRelatorio()" [disabled]="lotacaoSelecionada==undefined||lotacaoSelecionada.id==15">
              <mat-icon fontIcon="assignment"/>
              Emitir Relatório Setorial @if (lotacaoSelecionada) {
              {{ lotacaoSelecionada.sigla }}
            }
            </button>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="100%">
            <mat-progress-bar
              *ngIf="carregandoSelecao"
              mode="indeterminate"
              color="primary">
            </mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    }
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="80%">
    @if(hasAnyRole(['GRP_SIPE_DIRETOR'])){
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Busca Setorial</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="100%">
              <button matButton="filled"
                      (click)="baixarRelatorio()" [disabled]="lotacaoSelecionada==undefined||lotacaoSelecionada.id==15">
                <mat-icon fontIcon="assignment"/>
                Emitir Relatório Setorial @if (lotacaoSelecionada) {
                {{ lotacaoSelecionada.sigla }}
              }
              </button>
            </div>
          </div>
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="100%">
              <mat-progress-bar
                *ngIf="carregandoSelecao"
                mode="indeterminate"
                color="primary">
              </mat-progress-bar>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center" >
  <div fxLayout="column" fxFlex="80%">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Consulta</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mt-20">
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="100%">
            <mat-form-field class="full-width">
              <mat-label>Nome:</mat-label>
              <input name="nomeBusca"
                     [(ngModel)]="nomeBusca"
                     matInput
                     placeholder="ex: josé"
                     (input)="onInput($event)"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="100%">
            <mat-progress-bar
              *ngIf="carregandoBusca"
              mode="indeterminate"
              color="primary">
            </mat-progress-bar>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="80%">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          Tabela de Servidores
          @if (lotacaoSelecionada) {
            {{ lotacaoSelecionada.sigla }}
          }
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <table mat-table [dataSource]="usuarios">

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.nome }}</td>
          </ng-container>

          <ng-container matColumnDef="matricula">
            <th mat-header-cell *matHeaderCellDef>Matrícula</th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.matricula }}</td>
          </ng-container>

          <ng-container matColumnDef="cracha">
            <th mat-header-cell *matHeaderCellDef>Crachá Ponto</th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.cracha }}</td>
          </ng-container>

          <ng-container matColumnDef="hora_diaria">
            <th mat-header-cell *matHeaderCellDef>Horas Diária</th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.hora_diaria }}</td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let usuario">
              <button matButton="text" *ngIf="hasAnyRole(['GRP_SIPE_ADMIN','GRP_SIPE_RH'])"
                      type="button" (click)="preparaEditar(usuario)">
                <mat-icon fontIcon="edit"></mat-icon>
                Editar
              </button>

              <a matButton="text" *ngIf="hasAnyRole(['GRP_SIPE_ADMIN','GRP_SIPE_DIRETOR','GRP_SIPE_USERS'])"
                 [routerLink]="['/pontos/relatorio']"
                 [state]="{'usuario': usuario}"
              >
                <mat-icon fontIcon="menu"></mat-icon>
                Relatório
              </a>
              <a mat-stroked-button color="accent" *ngIf="hasAnyRole(['GRP_SIPE_ADMIN','GRP_SIPE_DIRETOR','GRP_SIPE_USERS'])
              && (mapPendencias(usuario) | async)"
                 [routerLink]="['/pontos/relatorio/pendente']"
                 [state]="{'usuario': usuario}">
                <mat-icon>visibility</mat-icon>
                Pendentes
              </a>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="['nome', 'matricula', 'cracha', 'hora_diaria', 'acoes']"></tr>
          <tr mat-row *matRowDef="let row; columns: colunasTable"></tr>
        </table>
      </mat-card-content>
      <mat-paginator
        (page)="handlePageEvent($event)"
        [length]="length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        aria-label="Select page">
      </mat-paginator>
    </mat-card>
  </div>
</div>
