<mat-toolbar color="primary" class="header-bar1">
  <span>Sistemas Integrados de Ponto Eletrônico - SIPE</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/usuarios/consulta">
    <mat-icon fontIcon="search"></mat-icon>
    Busca de Usuários
  </a>
  <a mat-button routerLink="/usuarios/cadastro">
    <mat-icon fontIcon="feed"></mat-icon>
    Cadastro de Usuário
  </a>
  <a mat-button>
    <mat-icon fontIcon="settings"></mat-icon>
    Configuração
  </a>
</mat-toolbar>


<mat-toolbar class="header-bar2">
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="100%">
      <img ngSrc="{{URL_BASE}}/v1/sipe/arquivos/nome/logoImagem.png" width="240" height="60"
           alt="img">
    </div>
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar color="primary" class="footer">
  <span>© Justiça Federal de Roraima - JFRR - 2025 SIPE - Todos os direitos reservados</span>
</mat-toolbar>
