<mat-toolbar color="primary">
  <span>Sistemas Integrados de Ponto Eletrônico - SIPE</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/usuarios/consulta">
    <mat-icon fontIcon="search"></mat-icon>
    Busca de Usuários
  </a>
  <a mat-button routerLink="/usuarios/cadastro">
    <mat-icon fontIcon="feed"></mat-icon>
    Cadastro de Usuário
  </a>
  <a mat-button>
    <mat-icon fontIcon="settings"></mat-icon>
    Configuração
  </a>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar color="primary" class="footer">
  <span>© Justiça Federal de Roraima - JFRR - 2025 SIPE - Todos os direitos reservados</span>
</mat-toolbar>
