<table mat-table [dataSource]="pontosTableModel"  multiTemplateDataRows>

  <!-- Dia -->
  <ng-container matColumnDef="dia">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Dia</th>
    <td mat-cell *matCellDef="let ponto" style="text-align: center;">
      {{ ponto.dia }}
    </td>
  </ng-container>

  <!-- Registros -->
  <ng-container *ngFor="let index of getRegistroIndices()" [matColumnDef]="'registro' + index">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;">
      Registro {{ index + 1 }}
    </th>
    <td mat-cell *matCellDef="let ponto" style="text-align: center;">
      <div style="display: flex; flex-direction: column;">
        <span>{{ ponto.registros[index]?.sentido }}</span>
        <span>{{ ponto.registros[index]?.hora }}</span>
      </div>
    </td>
  </ng-container>

  <!-- Total -->
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Total</th>
    <td mat-cell *matCellDef="let ponto" style="text-align: center;">
      {{ ponto.total }}
    </td>
  </ng-container>

  <!-- Descrição -->
  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Descrição</th>
    <td mat-cell *matCellDef="let ponto" style="text-align: center;">
      {{ ponto.descricao }}
    </td>
  </ng-container>

  <!-- Ações -->
  <ng-container matColumnDef="acoes">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let ponto" style="text-align: center;">
      <button mat-button  (click)="editar.emit(ponto.ponto)">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
    </td>
  </ng-container>

  <!-- Render headers and rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
