<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="100%">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          Usuário: {{ usuario.nome }} , matrícula: {{ usuario.matricula }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="mat-20">
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
          <div fxLayout="column">
            <mat-form-field class="example-form-field">
              <mat-label>Defina um período</mat-label>
              <mat-date-range-input [formGroup]="periodo" [rangePicker]="rangePicker">
                <input matStartDate
                       formControlName="inicio"
                       placeholder="Data inicial"/>
                <input matEndDate
                       formControlName="fim"
                       placeholder="Data final"/>
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button matButton="filled"
                          (click)="definePeriodo()"
                          matDateRangePickerApply>
                    <mat-icon fontIcon="check_small"/>
                    Definir
                  </button>
                  <button matButton="tonal"
                          matDateRangePickerCancel>
                    <mat-icon fontIcon="close"/>
                    Cancelar
                  </button>

                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="center">
            <button matButton="filled"
                    [disabled]="!periodo.value.inicio||!periodo.value.fim|| pontos.length === 0||!foiBuscado"
                    (click)="baixarRelatorio()">
              Download Relatório
            </button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
          <div fxLayout="column" fxFlex="100%" class="mt-20">
            @if (isLoading) {
              <mat-progress-bar
                mode="indeterminate"
                color="primary">
              </mat-progress-bar>
            }
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
          <div fxLayout="column" fxFlex="100%" class="mt-20">
            @if (foiBuscado) {
              {{ exibirPeriodo() }} <br/>
            }
            @if (pontos.length > 0) {
              <app-tabela-pontos
                [pontos]="pontos"
                [tamanhoRegistros]="tamanhoMaximo"
                (editar)="openAtualizacao($event)"
                (aprovar)="openAprovacao($event)">
              </app-tabela-pontos>
            }
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
